p{
    font-size: 1.2rem;
}

.backgrounds{
    background:url(/AdobeColorGradient\ gradient_bestRl\ jounrer.png);
}
.createdSlide{
    display: grid  !important ;    
    grid-template-columns: 1fr 1fr !important ;
    align-items: center;
    justify-items: center;
    justify-content: center;
     gap: 2rem;  
     text-align: left;
   }
   
   

  