p{
    font-size: 1.3rem;
}

.backgrounds{
    background:url(/AdobeColorGradient\ gradient_bestRl\ jounrer.png);
}
.createdSlide{
    display: grid  !important ;    
    grid-template-columns: 1fr 1fr !important ;
    align-items: center;
    justify-items: center;
    justify-content: center;
      column-gap: 2rem !important;  
     text-align: left;
     width: 100% !important; 
   }

   .reveal .controls{
    color:white !important;
   }

   .reveal .progress{
     color: white !important;
   }

   h3{
    color: white !important;
    font-weight: bold !important;
   }
   @media screen and (max-width: 768px) {
       .createdSlide{
        top: 0 !important;
         transform: translateY(-190px) !important;
        display: flex !important;
        flex-direction: column;
        width: 80%;
        margin-inline: auto;
       }
       .createdSlide p{
        font-size: 1.6rem !important;
       }
       
   }
   
   
